﻿
@{
    ViewBag.Title = "Html";
}

<h2>Html</h2>
<p>姓名:<input type="text" name="name" value="" /></p>
<p>帳號:<input type="text" name="number" value="" /></p>
<p>密碼:<input type="password" name="password" value="" /></p>
<p>性別:<input type="radio" name="gender" value="A" />女<input type="radio" name="gender" value="B" />男</p>
<p>興趣:<input type="checkbox" name="like" value="A" />游泳<input type="checkbox" name="like" value="B" />閱讀<input type="checkbox" name="like" value="C" />看電影</p>
<p>自我介紹:<textarea name="message" rows="5" cols="30"></textarea></p>


