﻿
@{
    ViewBag.Title = "HtmlHelper";
}

<h2>HtmlHelper</h2>

<p>姓名 : @Html.TextBox("username")</p>
<p>帳號 : @Html.TextBox("account")</p>
<p>密碼 : @Html.Password("pwd")</p>
<p>
    性別:

    @Html.RadioButton("gender", "A")男
    @Html.RadioButton("gender", "B")女

</p>
<p>
    興趣:

    @Html.CheckBox("habby-1", "A")游泳
    @Html.CheckBox("habby-2", "B")閱讀
    @Html.CheckBox("habby-3", "C")看電影

</p>



